@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --font-sans: var(--font-phantom-sans), system-ui, sans-serif;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-phantom-sans), system-ui, sans-serif;
}
body {
  background-color: white;
}
html {
  scroll-behavior: smooth;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px); /* upar float */
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 2s ease-in-out infinite;
}


/* Pendulum swing */
@keyframes swing {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.pendulum-animation {
  animation: swing 2s ease-in-out infinite;
  transform-origin: top center; /* top ke around swing ho */
}

/* Color change for SVG */
@keyframes color-change {
  0% { fill: #5100ff; }
  25% { fill: #ff0051; }
  50% { fill: #00ff51; }
  75% { fill: #ffb300; }
  100% { fill: #5100ff; }
}

.svg-color-animation path, 
.svg-color-animation circle, 
.svg-color-animation rect, 
.svg-color-animation polygon, 
.svg-color-animation line {
  animation: color-change 4s ease-in-out infinite;
}

/* Floating button animation */
@keyframes float-button {
  0% { transform: translateX(0px); }
  50% { transform: translateX(-10px); }
  100% { transform: translateX(0px); }
}

.floating-button {
  animation: float-button 1s ease-in infinite;
  cursor: pointer;
  transition: transform 0.3s;
}

.floating-button:hover {
  transform: scale(1.1); /* hover zoom effect */
  
}




